@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root{
  --dark-color:#102030;
  --light-gray:#eeebeb;
  --default-font:"Roboto", sans-serif;
  --title-font:"Bricolage Grotesque", sans-serif;
  --action-font:"Inter", sans-serif;
}
::selection{
  color:var(--dark-color);
  background:#f7cb54;
}
::-webkit-scrollbar {
  width:4px;
}
::-webkit-scrollbar-track {
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background:#ca9503;
  border-radius:20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1cb0ca;
}


@layer components {
  .input {
    @apply w-full px-4 py-3 rounded-lg border 
    border-gray-300 dark:border-gray-600
    bg-white dark:bg-gray-700
    text-gray-800 dark:text-white
    focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .label {
    @apply block mb-1 text-sm font-medium 
    text-gray-700 dark:text-gray-300;
  }
}

body{font-family:var(--default-font); font-size:14px;}

h1,h2,h3,h4{font-family: var(--title-font);}
a,button, input[type="submit"] {font-family:var(--action-font);}

.apexcharts-toolbar{display: none !important;}

.dark .graphChart{color:var(--dark-color);}
.dark .graphChart svg tspan,
.dark .graphChart svg text{fill:#b6b5b5;}
.dark .graphChart svg .apexcharts-series path{fill:rgb(192, 134, 26);}
.dark .MuiChartsLabel-root.MuiChartsLegend-label{color:#b6b5b5;}

.leftMenuBar li:hover .rightArrow{right:16px;}
.rgs-bg{background-image:url('assets/images/register-bg.jpg'); background-position:center;}
.big-bg{background:url('assets/images/big-data-consulting-bg-1920.jpg') no-repeat;}